In [2]:
import pandas as p
import numpy as n

In [11]:
x = p.read_excel("csc.XLSX")

In [7]:
data = p.DataFrame(x, columns=['Customer Name', 'Vehicle', 'Vehicle Reg. No.', 'Executive Name','First Contacted Date'])

In [19]:
print(data)

                  Customer Name                    Vehicle Vehicle Reg. No.  \
0                     KASHINATH                        NaN       XX09YY9999
1          jesangbhai v solanki                        NaN       XX09YY9999
2     santosh kumar vishwakarma                  ACE CRANE       XX09YY9999
3                    AHMAD RAZA               RENAULT KWID       XX09YY9999
4                          amit       SONALIKA TARCTOR 750       XX09YY9999
...                         ...                        ...              ...
3084                      Ajmat     Maruti Suzuki Alto K10       XX09YY9999
3085                Akash Verma  Piaggio Ape Auto Rickshaw       XX09YY9999
3086                HAMID HAMID       Mahindra Scorpio S11       XX09YY9999
3087      ABHISHEK KUMAR PATHAK             Tata Tiago CNG       XX09YY9999
3088          Liton Chakraborty        Bajaj Auto Rickshaw       XX09YY9999

             Executive Name First Contacted Date
0     CHANDRAKANTHGADAGIDMT           2023-08-14
1       JAYESHKUMARPATELDMT           2023-08-14
2             Pradeep Gupta           2023-08-14
3              RaviKumarDMT           2023-08-14
4     MANENDER SINGH TANWAR           2023-08-14
...                     ...                  ...
3084            DHRUV SINGH           2023-04-04
3085       ASHISHSHARMA2DMT           2023-04-04
3086            Ankit Gupta           2023-04-04
3087            Ankit Gupta           2023-04-01
3088         Anupam Debnath           2023-04-01

[3089 rows x 5 columns]

In [20]:
x=x.sort_values('First Contacted Date')

In [21]:
x

,Lead ID,MFCW ID,Customer Name,Vehicle Reg. No.,Vehicle,Status,ABM Status,Last Updated On,Executive Name,Executive SAP,...,Emlap MMFSL Stage,Emlap MMFSL Code,Emlap Appl No,Emlap Finance Amount,Emlap Date Time,Lead Category,Call Duration,Call Tracked On,Vertical,Escalated
3088,4063991,MKTG_CSC_1stApril203046,Liton Chakraborty,XX09YY9999,Bajaj Auto Rickshaw,Cancelled,NaN,2023-04-13,Anupam Debnath,23212624,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3087,4063990,MKTG_CSC_1stApril203045,ABHISHEK KUMAR PATHAK,XX09YY9999,Tata Tiago CNG,No Response,NaN,2023-04-06,Ankit Gupta,27030354,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3085,4067837,MKTG_CSC_4thApril203050,Akash Verma,XX09YY9999,Piaggio Ape Auto Rickshaw,Follow Up,NaN,2023-08-09,ASHISHSHARMA2DMT,23234050,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3084,4067836,MKTG_CSC_4thApril203049,Ajmat,XX09YY9999,Maruti Suzuki Alto K10,Cancelled,NaN,2023-05-03,DHRUV SINGH,27015630,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3083,4067469,MKTG_CSC_4thApril203047,avinash subhash lokhande,XX09YY9999,Mahindra Bolero B4,Logged In,NaN,2023-04-19,SUHASKOLIDMT,27024385,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,4715731,MKTG_CSC_14thAug206930,Hari dhyan Tiwari,XX09YY9999,Bajaj Discover,Open Lead,NaN,NaT,Rahul Singh,23210024,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
26,4715730,MKTG_CSC_14thAug206929,RAVADA Latadevi,XX09YY9999,NaN,Open Lead,NaN,NaT,Gadhila Krishna,27000980,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
25,4715729,MKTG_CSC_14thAug206928,PRASHIK RAMKRUSHNA BADOLE,XX09YY9999,MARUTI SUPER CARRY,Open Lead,NaN,NaT,RAHULWANJARIDMT,27024331,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
35,4715739,MKTG_CSC_14thAug206940,gindi mohan rao,XX09YY9999,TOYOTA INNOVA,Open Lead,NaN,NaT,GOVERDHANDMT,27019037,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
0,4715704,MKTG_CSC_14thAug206902,KASHINATH,XX09YY9999,NaN,Open Lead,NaN,NaT,CHANDRAKANTHGADAGIDMT,23237406,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No

In [22]:
o = p.open_excel("csc.XLSX")

AttributeError: module 'pandas' has no attribute 'open_excel'

In [23]:
x.drop_duplicates()

,Lead ID,MFCW ID,Customer Name,Vehicle Reg. No.,Vehicle,Status,ABM Status,Last Updated On,Executive Name,Executive SAP,...,Emlap MMFSL Stage,Emlap MMFSL Code,Emlap Appl No,Emlap Finance Amount,Emlap Date Time,Lead Category,Call Duration,Call Tracked On,Vertical,Escalated
3088,4063991,MKTG_CSC_1stApril203046,Liton Chakraborty,XX09YY9999,Bajaj Auto Rickshaw,Cancelled,NaN,2023-04-13,Anupam Debnath,23212624,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3087,4063990,MKTG_CSC_1stApril203045,ABHISHEK KUMAR PATHAK,XX09YY9999,Tata Tiago CNG,No Response,NaN,2023-04-06,Ankit Gupta,27030354,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3085,4067837,MKTG_CSC_4thApril203050,Akash Verma,XX09YY9999,Piaggio Ape Auto Rickshaw,Follow Up,NaN,2023-08-09,ASHISHSHARMA2DMT,23234050,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3084,4067836,MKTG_CSC_4thApril203049,Ajmat,XX09YY9999,Maruti Suzuki Alto K10,Cancelled,NaN,2023-05-03,DHRUV SINGH,27015630,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3083,4067469,MKTG_CSC_4thApril203047,avinash subhash lokhande,XX09YY9999,Mahindra Bolero B4,Logged In,NaN,2023-04-19,SUHASKOLIDMT,27024385,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,4715731,MKTG_CSC_14thAug206930,Hari dhyan Tiwari,XX09YY9999,Bajaj Discover,Open Lead,NaN,NaT,Rahul Singh,23210024,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
26,4715730,MKTG_CSC_14thAug206929,RAVADA Latadevi,XX09YY9999,NaN,Open Lead,NaN,NaT,Gadhila Krishna,27000980,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
25,4715729,MKTG_CSC_14thAug206928,PRASHIK RAMKRUSHNA BADOLE,XX09YY9999,MARUTI SUPER CARRY,Open Lead,NaN,NaT,RAHULWANJARIDMT,27024331,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
35,4715739,MKTG_CSC_14thAug206940,gindi mohan rao,XX09YY9999,TOYOTA INNOVA,Open Lead,NaN,NaT,GOVERDHANDMT,27019037,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
0,4715704,MKTG_CSC_14thAug206902,KASHINATH,XX09YY9999,NaN,Open Lead,NaN,NaT,CHANDRAKANTHGADAGIDMT,23237406,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No

In [24]:
unique = x.Vehicle.unique() 
duplicates = len(x)-len(unique)
print("number of duplicate rows is:",duplicates)

number of duplicate rows is: 2484

In [42]:
unique = x.Status.unique() 
duplicates = len(x)-len(unique)
print("number of duplicate rows is:",duplicates)

number of duplicate rows is: 3083

In [38]:
unique = x.Lead Created Username.unique() 
duplicates = len(x)-len(unique)
print("number of duplicate rows is:",duplicates)

AttributeError: 'DataFrame' object has no attribute 'Lead_Created_Username'

In [39]:
duplicate = x[x.duplicated()]

In [40]:
duplicate

Empty DataFrame
Columns: [Lead ID, MFCW ID, Customer Name, Vehicle Reg. No., Vehicle, Status, ABM Status, Last Updated On, Executive Name, Executive SAP, ABM Name, ABM Sap, DM Name, DM Sap, CH Name, CH Sap, First Contacted Date, Created Type, Given For, Loan Agreement No., Branch, Branch Code, Final Application No., CC Initial Remarks, Remarks, Next Follow Up Date, In Progress, City, State, Lead For, Application No, Created On, Lead Type, Created by, Lead Created Username, Workable Month, CRM ID, Sap Code, DO Date, ABM Remarks, Emlap MMFSL Stage, Emlap MMFSL Code, Emlap Appl No, Emlap Finance Amount, Emlap Date Time, Lead Category, Call Duration, Call Tracked On, Vertical, Escalated]
Index: []

[0 rows x 50 columns]

In [44]:
sorted = x.sort_values('Last Updated On')

In [45]:
sorted

,Lead ID,MFCW ID,Customer Name,Vehicle Reg. No.,Vehicle,Status,ABM Status,Last Updated On,Executive Name,Executive SAP,...,Emlap MMFSL Stage,Emlap MMFSL Code,Emlap Appl No,Emlap Finance Amount,Emlap Date Time,Lead Category,Call Duration,Call Tracked On,Vertical,Escalated
3076,4077945,MKTG_CSC_6thApril203056,AVDHESH KUMAR,XX09YY9999,Mahindra Bolero Pickup,Cancelled,NaN,2023-04-06,Vishnu tripathi,27002782,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3087,4063990,MKTG_CSC_1stApril203045,ABHISHEK KUMAR PATHAK,XX09YY9999,Tata Tiago CNG,No Response,NaN,2023-04-06,Ankit Gupta,27030354,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3082,4070345,MKTG_CSC_5thApril203048,Prakash Sanjay Hegade,XX09YY9999,Maruti Suzuki Swift Dzire,Cancelled,NaN,2023-04-06,Nagesh Dhangar,27007858,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3077,4077946,MKTG_CSC_6thApril203057,Ganesh Gopal Pawar,XX09YY9999,Maruti Suzuki XL6,Cancelled,NaN,2023-04-06,AVINASH MAHADIK,27028071,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3074,4077943,MKTG_CSC_6thApril203053,mukeshbhai vaghari,XX09YY9999,Maruti Suzuki Eeco 5 Seater,Cancelled,NaN,2023-04-06,NARENDRASINHCHAUHANDMT,23234763,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,4715731,MKTG_CSC_14thAug206930,Hari dhyan Tiwari,XX09YY9999,Bajaj Discover,Open Lead,NaN,NaT,Rahul Singh,23210024,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
26,4715730,MKTG_CSC_14thAug206929,RAVADA Latadevi,XX09YY9999,NaN,Open Lead,NaN,NaT,Gadhila Krishna,27000980,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
25,4715729,MKTG_CSC_14thAug206928,PRASHIK RAMKRUSHNA BADOLE,XX09YY9999,MARUTI SUPER CARRY,Open Lead,NaN,NaT,RAHULWANJARIDMT,27024331,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
35,4715739,MKTG_CSC_14thAug206940,gindi mohan rao,XX09YY9999,TOYOTA INNOVA,Open Lead,NaN,NaT,GOVERDHANDMT,27019037,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
0,4715704,MKTG_CSC_14thAug206902,KASHINATH,XX09YY9999,NaN,Open Lead,NaN,NaT,CHANDRAKANTHGADAGIDMT,23237406,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No

In [46]:
new_sort = x.sort_values("Lead ID")

In [47]:
new_sort

,Lead ID,MFCW ID,Customer Name,Vehicle Reg. No.,Vehicle,Status,ABM Status,Last Updated On,Executive Name,Executive SAP,...,Emlap MMFSL Stage,Emlap MMFSL Code,Emlap Appl No,Emlap Finance Amount,Emlap Date Time,Lead Category,Call Duration,Call Tracked On,Vertical,Escalated
3087,4063990,MKTG_CSC_1stApril203045,ABHISHEK KUMAR PATHAK,XX09YY9999,Tata Tiago CNG,No Response,NaN,2023-04-06,Ankit Gupta,27030354,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3088,4063991,MKTG_CSC_1stApril203046,Liton Chakraborty,XX09YY9999,Bajaj Auto Rickshaw,Cancelled,NaN,2023-04-13,Anupam Debnath,23212624,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3083,4067469,MKTG_CSC_4thApril203047,avinash subhash lokhande,XX09YY9999,Mahindra Bolero B4,Logged In,NaN,2023-04-19,SUHASKOLIDMT,27024385,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3084,4067836,MKTG_CSC_4thApril203049,Ajmat,XX09YY9999,Maruti Suzuki Alto K10,Cancelled,NaN,2023-05-03,DHRUV SINGH,27015630,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3085,4067837,MKTG_CSC_4thApril203050,Akash Verma,XX09YY9999,Piaggio Ape Auto Rickshaw,Follow Up,NaN,2023-08-09,ASHISHSHARMA2DMT,23234050,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,4715745,MKTG_CSC_14thAug206946,M VARSHITH,XX09YY9999,MARUTI ERTIGA,Open Lead,NaN,NaT,Billakanti Vinod Kumar,23235472,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
42,4715746,MKTG_CSC_14thAug206947,vishnu k,XX09YY9999,NaN,Open Lead,NaN,NaT,Rajeshwaran N,23203291,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
43,4715747,MKTG_CSC_14thAug206948,kanhiya bhatnagar,XX09YY9999,MAHINDRA TARCTOR ARJUN 555,Open Lead,NaN,NaT,AMITNEGIDMT,23243836,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
44,4715749,MKTG_CSC_14thAug206923,SANJU PRAJAPATI,XX09YY9999,PIAGGIO APE,Open Lead,NaN,NaT,AkashPandedmt,27024831,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
45,4715750,MKTG_CSC_14thAug206937,prabhu jee,XX09YY9999,NaN,Open Lead,NaN,NaT,PankajKumarDMT1,27022582,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No

In [51]:
sort = x.sort_values("Lead ID" , ascending=False)

In [52]:
sort

,Lead ID,MFCW ID,Customer Name,Vehicle Reg. No.,Vehicle,Status,ABM Status,Last Updated On,Executive Name,Executive SAP,...,Emlap MMFSL Stage,Emlap MMFSL Code,Emlap Appl No,Emlap Finance Amount,Emlap Date Time,Lead Category,Call Duration,Call Tracked On,Vertical,Escalated
45,4715750,MKTG_CSC_14thAug206937,prabhu jee,XX09YY9999,NaN,Open Lead,NaN,NaT,PankajKumarDMT1,27022582,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
44,4715749,MKTG_CSC_14thAug206923,SANJU PRAJAPATI,XX09YY9999,PIAGGIO APE,Open Lead,NaN,NaT,AkashPandedmt,27024831,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
43,4715747,MKTG_CSC_14thAug206948,kanhiya bhatnagar,XX09YY9999,MAHINDRA TARCTOR ARJUN 555,Open Lead,NaN,NaT,AMITNEGIDMT,23243836,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
42,4715746,MKTG_CSC_14thAug206947,vishnu k,XX09YY9999,NaN,Open Lead,NaN,NaT,Rajeshwaran N,23203291,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
41,4715745,MKTG_CSC_14thAug206946,M VARSHITH,XX09YY9999,MARUTI ERTIGA,Open Lead,NaN,NaT,Billakanti Vinod Kumar,23235472,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3085,4067837,MKTG_CSC_4thApril203050,Akash Verma,XX09YY9999,Piaggio Ape Auto Rickshaw,Follow Up,NaN,2023-08-09,ASHISHSHARMA2DMT,23234050,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3084,4067836,MKTG_CSC_4thApril203049,Ajmat,XX09YY9999,Maruti Suzuki Alto K10,Cancelled,NaN,2023-05-03,DHRUV SINGH,27015630,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3083,4067469,MKTG_CSC_4thApril203047,avinash subhash lokhande,XX09YY9999,Mahindra Bolero B4,Logged In,NaN,2023-04-19,SUHASKOLIDMT,27024385,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3088,4063991,MKTG_CSC_1stApril203046,Liton Chakraborty,XX09YY9999,Bajaj Auto Rickshaw,Cancelled,NaN,2023-04-13,Anupam Debnath,23212624,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3087,4063990,MKTG_CSC_1stApril203045,ABHISHEK KUMAR PATHAK,XX09YY9999,Tata Tiago CNG,No Response,NaN,2023-04-06,Ankit Gupta,27030354,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No

In [53]:
a = p.read_excel("csc.XLSX")
b = p.read_excel("123.XLSX")

In [54]:
c = a.merge(b,how="left")

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [13]:
data.groupby(['Vehicle']).sum().plot(kind='pie', y = 'Vehicle')

C:\Users\4000067667\AppData\Local\Temp\ipykernel_7076\1088867990.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby(['Vehicle']).sum().plot(kind='pie', y = 'Vehicle')

KeyError: 'Vehicle'

In [6]:

import Workbook, CellsHelper, FileFormatType, License

ModuleNotFoundError: No module named 'Workbook'

In [5]:
workbook = Workbook(csc.XLSX)
# Obtaining the reference of the first worksheet
worksheet = workbook.worksheets.get(0)
worksheet.cells.get("A2").put_value("Category1")
worksheet.cells.get("A3").put_value("Category2")
worksheet.cells.get("A4").put_value("Category3")
worksheet.cells.get("B1").put_value("Pie")
worksheet.cells.get("B2").put_value(300)
worksheet.cells.get("B3").put_value(400)
worksheet.cells.get("B4").put_value(200)

NameError: name 'Workbook' is not defined

In [ ]:
chart1 =

In [9]:
import xlsxwriter

ModuleNotFoundError: No module named 'xlsxwriter'

In [12]:
display(x.drop_duplicates())

,Lead ID,MFCW ID,Customer Name,Vehicle Reg. No.,Vehicle,Status,ABM Status,Last Updated On,Executive Name,Executive SAP,...,Emlap MMFSL Stage,Emlap MMFSL Code,Emlap Appl No,Emlap Finance Amount,Emlap Date Time,Lead Category,Call Duration,Call Tracked On,Vertical,Escalated
0,4715704,MKTG_CSC_14thAug206902,KASHINATH,XX09YY9999,NaN,Open Lead,NaN,NaT,CHANDRAKANTHGADAGIDMT,23237406,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
1,4715705,MKTG_CSC_14thAug206903,jesangbhai v solanki,XX09YY9999,NaN,Open Lead,NaN,NaT,JAYESHKUMARPATELDMT,27011955,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
2,4715706,MKTG_CSC_14thAug206904,santosh kumar vishwakarma,XX09YY9999,ACE CRANE,Open Lead,NaN,NaT,Pradeep Gupta,27028148,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3,4715707,MKTG_CSC_14thAug206905,AHMAD RAZA,XX09YY9999,RENAULT KWID,Open Lead,NaN,NaT,RaviKumarDMT,23229705,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
4,4715708,MKTG_CSC_14thAug206906,amit,XX09YY9999,SONALIKA TARCTOR 750,Open Lead,NaN,NaT,MANENDER SINGH TANWAR,27016017,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3084,4067836,MKTG_CSC_4thApril203049,Ajmat,XX09YY9999,Maruti Suzuki Alto K10,Cancelled,NaN,2023-05-03,DHRUV SINGH,27015630,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3085,4067837,MKTG_CSC_4thApril203050,Akash Verma,XX09YY9999,Piaggio Ape Auto Rickshaw,Follow Up,NaN,2023-08-09,ASHISHSHARMA2DMT,23234050,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3086,4067838,MKTG_CSC_4thApril203051,HAMID HAMID,XX09YY9999,Mahindra Scorpio S11,No Response,NaN,2023-04-26,Ankit Gupta,27030354,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3087,4063990,MKTG_CSC_1stApril203045,ABHISHEK KUMAR PATHAK,XX09YY9999,Tata Tiago CNG,No Response,NaN,2023-04-06,Ankit Gupta,27030354,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3088,4063991,MKTG_CSC_1stApril203046,Liton Chakraborty,XX09YY9999,Bajaj Auto Rickshaw,Cancelled,NaN,2023-04-13,Anupam Debnath,23212624,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No

In [ ]:
print()

In [14]:
x.sort_values("Vehicle", inplace=True)
x.drop_duplicates(subset="Vehicle",keep=False, inplace=True)

In [15]:
x

,Lead ID,MFCW ID,Customer Name,Vehicle Reg. No.,Vehicle,Status,ABM Status,Last Updated On,Executive Name,Executive SAP,...,Emlap MMFSL Stage,Emlap MMFSL Code,Emlap Appl No,Emlap Finance Amount,Emlap Date Time,Lead Category,Call Duration,Call Tracked On,Vertical,Escalated
2,4715706,MKTG_CSC_14thAug206904,santosh kumar vishwakarma,XX09YY9999,ACE CRANE,Open Lead,NaN,NaT,Pradeep Gupta,27028148,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
800,4599880,MKTG_CSC_11thJuly206058,SATYAJIT DAS,XX09YY9999,ASHOK LEYALAND DOST,Cancelled,NaN,2023-07-14,Atanu Patra,23227501,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
487,4667612,MKTG_CSC_27thJuly206482,vishal singh pathania,XX09YY9999,ASHOK LEYLAND 1612,Cancelled,NaN,2023-07-31,SURJANSINGHDMT,27019217,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
472,4667597,MKTG_CSC_27thJuly206466,Ravibhai Dineshbhai dudharejiya,XX09YY9999,ASHOK LEYLAND 3118 BS5,Cancelled,NaN,2023-07-28,SachinTrivediDMT,27018436,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
885,4583164,MKTG_CSC_6thJuly206008,Govind sharama,XX09YY9999,ASHOK LEYLAND 5525,Cancelled,NaN,2023-08-02,GORAKHNATHDMT,27001173,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,4627453,MKTG_CSC_15thJuly206158,SUBRAMANI GOVINDASAMY,XX09YY9999,ZOHN DEERE,No Response,NaN,2023-07-17,MANIKANDAN,23236572,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
411,4675201,MKTG_CSC_31stJuly206553,SHRTITAM kUMA,XX09YY9999,ZOHN DEERE TARCTOR 5045 D,No Response,NaN,2023-08-03,MANOJSETHIdmt,27012315,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
346,4677598,MKTG_CSC_1stAug206574,DEVENDRA DHANLAL BAHEKAR,XX09YY9999,concrete mixer machine,No Response,NaN,2023-08-02,MUKESHBANDE,23125899,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
2881,4269767,MKTG_CSC_8thMay203305,sayfulla khan,XX09YY9999,maruti Suzuki Swift Dzire,Cancelled,NaN,2023-06-26,Jagadeep Rout,23214052,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
452,4667577,MKTG_CSC_27thJuly206445,SHAJAHAN,XX09YY9999,volkswagen ameo,Cancelled,NaN,2023-08-03,MOHANKUMARADMT,27016635,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No

In [16]:
i = p.read_excel("csc.XLSX")

In [17]:
i

,Lead ID,MFCW ID,Customer Name,Vehicle Reg. No.,Vehicle,Status,ABM Status,Last Updated On,Executive Name,Executive SAP,...,Emlap MMFSL Stage,Emlap MMFSL Code,Emlap Appl No,Emlap Finance Amount,Emlap Date Time,Lead Category,Call Duration,Call Tracked On,Vertical,Escalated
0,4715704,MKTG_CSC_14thAug206902,KASHINATH,XX09YY9999,NaN,Open Lead,NaN,NaT,CHANDRAKANTHGADAGIDMT,23237406,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
1,4715705,MKTG_CSC_14thAug206903,jesangbhai v solanki,XX09YY9999,NaN,Open Lead,NaN,NaT,JAYESHKUMARPATELDMT,27011955,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
2,4715706,MKTG_CSC_14thAug206904,santosh kumar vishwakarma,XX09YY9999,ACE CRANE,Open Lead,NaN,NaT,Pradeep Gupta,27028148,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3,4715707,MKTG_CSC_14thAug206905,AHMAD RAZA,XX09YY9999,RENAULT KWID,Open Lead,NaN,NaT,RaviKumarDMT,23229705,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
4,4715708,MKTG_CSC_14thAug206906,amit,XX09YY9999,SONALIKA TARCTOR 750,Open Lead,NaN,NaT,MANENDER SINGH TANWAR,27016017,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3084,4067836,MKTG_CSC_4thApril203049,Ajmat,XX09YY9999,Maruti Suzuki Alto K10,Cancelled,NaN,2023-05-03,DHRUV SINGH,27015630,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3085,4067837,MKTG_CSC_4thApril203050,Akash Verma,XX09YY9999,Piaggio Ape Auto Rickshaw,Follow Up,NaN,2023-08-09,ASHISHSHARMA2DMT,23234050,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3086,4067838,MKTG_CSC_4thApril203051,HAMID HAMID,XX09YY9999,Mahindra Scorpio S11,No Response,NaN,2023-04-26,Ankit Gupta,27030354,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3087,4063990,MKTG_CSC_1stApril203045,ABHISHEK KUMAR PATHAK,XX09YY9999,Tata Tiago CNG,No Response,NaN,2023-04-06,Ankit Gupta,27030354,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3088,4063991,MKTG_CSC_1stApril203046,Liton Chakraborty,XX09YY9999,Bajaj Auto Rickshaw,Cancelled,NaN,2023-04-13,Anupam Debnath,23212624,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No

In [18]:
i.drop_duplicates()

,Lead ID,MFCW ID,Customer Name,Vehicle Reg. No.,Vehicle,Status,ABM Status,Last Updated On,Executive Name,Executive SAP,...,Emlap MMFSL Stage,Emlap MMFSL Code,Emlap Appl No,Emlap Finance Amount,Emlap Date Time,Lead Category,Call Duration,Call Tracked On,Vertical,Escalated
0,4715704,MKTG_CSC_14thAug206902,KASHINATH,XX09YY9999,NaN,Open Lead,NaN,NaT,CHANDRAKANTHGADAGIDMT,23237406,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
1,4715705,MKTG_CSC_14thAug206903,jesangbhai v solanki,XX09YY9999,NaN,Open Lead,NaN,NaT,JAYESHKUMARPATELDMT,27011955,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
2,4715706,MKTG_CSC_14thAug206904,santosh kumar vishwakarma,XX09YY9999,ACE CRANE,Open Lead,NaN,NaT,Pradeep Gupta,27028148,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3,4715707,MKTG_CSC_14thAug206905,AHMAD RAZA,XX09YY9999,RENAULT KWID,Open Lead,NaN,NaT,RaviKumarDMT,23229705,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
4,4715708,MKTG_CSC_14thAug206906,amit,XX09YY9999,SONALIKA TARCTOR 750,Open Lead,NaN,NaT,MANENDER SINGH TANWAR,27016017,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3084,4067836,MKTG_CSC_4thApril203049,Ajmat,XX09YY9999,Maruti Suzuki Alto K10,Cancelled,NaN,2023-05-03,DHRUV SINGH,27015630,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3085,4067837,MKTG_CSC_4thApril203050,Akash Verma,XX09YY9999,Piaggio Ape Auto Rickshaw,Follow Up,NaN,2023-08-09,ASHISHSHARMA2DMT,23234050,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3086,4067838,MKTG_CSC_4thApril203051,HAMID HAMID,XX09YY9999,Mahindra Scorpio S11,No Response,NaN,2023-04-26,Ankit Gupta,27030354,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3087,4063990,MKTG_CSC_1stApril203045,ABHISHEK KUMAR PATHAK,XX09YY9999,Tata Tiago CNG,No Response,NaN,2023-04-06,Ankit Gupta,27030354,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No
3088,4063991,MKTG_CSC_1stApril203046,Liton Chakraborty,XX09YY9999,Bajaj Auto Rickshaw,Cancelled,NaN,2023-04-13,Anupam Debnath,23212624,...,NaN,NaN,NaN,NaN,NaT,CLMS,NaN,NaN,DMT,No

In [23]:
i.sort_values("Stdsadsace = True)
i.drop_duplicates(subset= "Status" , keep = False , inplace = True)

In [24]:
i

Empty DataFrame
Columns: [Lead ID, MFCW ID, Customer Name, Vehicle Reg. No., Vehicle, Status, ABM Status, Last Updated On, Executive Name, Executive SAP, ABM Name, ABM Sap, DM Name, DM Sap, CH Name, CH Sap, First Contacted Date, Created Type, Given For, Loan Agreement No., Branch, Branch Code, Final Application No., CC Initial Remarks, Remarks, Next Follow Up Date, In Progress, City, State, Lead For, Application No, Created On, Lead Type, Created by, Lead Created Username, Workable Month, CRM ID, Sap Code, DO Date, ABM Remarks, Emlap MMFSL Stage, Emlap MMFSL Code, Emlap Appl No, Emlap Finance Amount, Emlap Date Time, Lead Category, Call Duration, Call Tracked On, Vertical, Escalated]
Index: []

[0 rows x 50 columns]

In [25]:
import matplotlib.pyplot as plt

In [26]:

sorted_by_production = x.sort_values(['Vehicle'], ascending=False).head(10)
sorted_by_production['Vehicle'].head(10).plot(kind="barh")
plt.show()

TypeError: no numeric data to plot

In [29]:
y = p.read_excel("csc.XLSX")

In [30]:
y['Vehicle'].to_list().count('PIAGGIO APE')

5

In [31]:
print(y["Vehicle"].unique())

[nan 'ACE CRANE' 'RENAULT KWID' 'SONALIKA TARCTOR 750' 'MARUTI EECO 7 STR'
 'TATA MAGIC PLUS' 'TATA ULTRA' 'RENAULT TRIBER' 'MAHINDRA BLAZO 48 CBC'
 'TATA MAGIC' 'MARUTI ERTIGA' 'PIAGGIO APE' 'HONDA CITY'
 'MARUTI SUPER CARRY' 'Bajaj Discover' 'MARUTI EECO' 'BAJAJ AUTO'
 'MAHINDRA BOLERO CAMPER ZLX' 'SONALIKA TARCTOR 745' 'TOYOTA INNOVA'
 'MARUTU SWIFT' 'MARUTI ALTO 800' 'MAHINDRA BOLERO' 'MAHINDRA TREO'
 'MAHINDRA TARCTOR ARJUN 555' 'SPELDORE' 'BAJAJ AUTO CNG' 'MAHINDRA ALFA'
 'POWERTRACK TRACTOR 439 PLUS' 'SULTAN DLX E RICKSHAW'
 'MAHINDRA BOLERO PICKUP' 'MARUTI ALTO K10' 'MAHINDRA SCORPIO'
 'MARUTI SWIFT DZIRE' 'TATA 1616' 'MARUTI ALTO' 'JCB 3DX'
 'MAHINDRA TARCTOR 275' 'MARUTI CIAZ' 'MARUTI WAGON R' 'MAHINDRA THAR'
 'MARUTI NEXA IGNIS' 'MARUTI NEW BALENO' 'MAHINDRA BOLERO PICKUP BS4'
 'TATA WINGER' 'MARUTI SUZUKI XL 6' 'BAJAJ CNG AUTO' 'EICHER PRO 1110'
 'MARUTI DZIRE VXI CNG' 'HYUNDAI AURA' 'MASSEY FERGUSION 245'
 'BAJAJ MAXIMA' 'MARUTI VITARA BREZZA' 'DATSUN READY GO' 'TATA NEXON'
 'MAHINDRA SCORPIO N' 'UDAAN E AUTO RIKSHAW' 'TATA ACE GOLD'
 'Maruti Suzuki Swift Dzire' 'FORD FIGO' 'MAHINDRA TRACTOR 275'
 'HYUNDAI GRAND I10 NIOS' 'MAHINDRA TARCTOR 540' 'MARUTI ERTIGA CNG'
 'HYUNDAI I20' 'TATA INDICA VISTA' 'MAHINDRA TRACTOR 575'
 'MAHINDRA TRACTOR 475 DI' 'TATA 5530' 'SWARAJ TARCTOR 735' 'MARUTI DZIRE'
 'MARUTI OMNI' 'MARUTI SWIFT' 'MAHINDRA XUV 300' 'MARUTI BALENO SIGMA'
 'MAHINDRA BOLERO MAXI TRUCK' 'HYUNDAI VENUE' 'MAHINDRA SCORPIO S5'
 'MAHINDRA JEETO PLUSE' 'HYUNADI I20' 'MARUTI CIAZ SIGMA'
 'MAHINDRA BOLERO PICKUP 13' 'HERO HONDA BIKE' 'MASSEY FERGUSON 1035'
 'MAHINDRA TARCTOR 475' 'R15' 'FORCE TARVLLER 17 STR' 'TATA ACE'
 'MAHINDRA BOLERO SLX' 'MARUTI ALTO 800 VXI' 'HYUNDAI GRAND I10'
 'MARUTI DZIRE TOUR' 'MAHINDRA ALFA LOADING' 'TATA 2518 TIPPER'
 'MARUTI ALTO K 10' 'MAHINDRA TARCTOR 265 POWER PLUSE' 'HYUNDAI XCENT'
 'MARUTI CELERIO' 'MAHINDRA BOLERO POWER PLUS' 'MAHINDRA ALFA E'
 'MARUTI SWIFT DZIRE VXI' 'TATA PUNCH' 'MAHINDRA BOLERO PICKUP 17'
 'MARUTI CIAZ ALFA' 'MARUTI BREZZA' 'MAHINDRA BOLERO CAMPER'
 'CHEVROLET TAVERA' 'ASHOK LEYLAND BADA DOST' 'MAHINDRA CHAPION'
 'TATA SUMO GOLD' 'TOYOTA GLANZA' 'JOHN DEERE TARCTOR' 'HYUNDAI I10 NIOS'
 'MARUTI S PRESSO' 'TATA ACE CS' 'TATA LPT 3518' 'SONALIKA TARCTOR 730'
 'EICHER TARCTOR 333' 'MAHINDRA BOLERO PLUS' 'MAHINDRA TARCTOR 585'
 'MARUTI DZIRE TOUR S' 'MARUTI GRAND I10' 'TVS KING AUTO'
 'MAHINDRA TARCTOR 4X4' 'MAHINDRA XUV 700' 'TATA SIGNA 4830CABIN'
 'MAHINDRA TARCTOR 241' 'HYUNDAI EXTER' 'TATA SAFARI' 'SWARAJ TARCTOR 744'
 'TATA Truck 407' 'TATA 1212' 'MAHINDRA XUV 500' 'concrete mixer machine'
 'CASE 952 EX VC TANDEM ROLLER' 'HYUNDAI I10' 'MAHINDRA BLAZO X 35'
 'SWARAJ TARCTOR 855' 'KIA SELTOS' 'ASHOK LEYLAND DOST' 'NISSAN MAGNITE'
 'MARUTI BALENO' 'PIAGGIO APE LOANDING' 'BAJAJ RE' 'TOYOTA FORTUNER'
 'SONALIKA TRACTOR' 'MAHINDRA TARCTOR 405' 'MASSEY FERGUSION TRACTOR 241'
 'MAHINDRA TUV 300' 'ZOHN DEERE TARCTOR 5045 D' 'MARUTI SWIFT VXI CNG'
 'MAHINDRA TRACTOR SARPANCH 475' 'MASSEY FERGUSON 241 TRACTOR' 'HONDA WRV'
 'MAHINDRA TRACTOR YUVRAJ 215' 'MAHINDRA BOLERO MAXX PICKUP'
 'MAHINDRA TARCTOR 575' 'FORCE TEMPO TRAVELLER' 'TVS AUTO'
 'volkswagen ameo' 'HYUNDAI ACCENT' 'MINI METRO E RIKSHAW'
 'JSAutoPrivate Limited' 'INDO FARM 3055 DI' 'RENAULT DUSTER'
 'ASHOK LEYLAND 3118 BS5' 'MARUTI WIFT DZIRE' 'SWARAJ TRACTOR 735'
 'VISHAL HARVASTOR COMBINE' 'UDAAN E RIKSHAW' 'ASHOK LEYLAND 1612'
 'TATA HYVA 10 W 6 TH' 'MAHINDRA SCIRPIO' 'ASHOK LEYLAND HYVA'
 'HONDA AMAZE' 'EICHER TARCTOR 485' 'MARUTI SWIFT DZIRE TOURE' 'ATUL AUTO'
 'TOYOTA URBAN CRUISER' 'MAHINDRA BOLERO GLX' 'MAHINDRA ALFA MINI'
 'MARUTI WAGON R VXI' 'MAHINDRA ROTAVATOR' 'MAHINDRA BOLEROP PICKUP'
 'KIA CARENS' 'MARUTI ALTO K10 VXI' 'BAJAJ RE CNG' 'BAJAJ RE AUTO'
 'MAHINDRA SUPRO MINI TRUCK' 'NEW HOLLOND' 'BAJAJ COMPACT RE'
 'MARUTI SWIFT VDI' 'MAHINDRA ALFA CNG B7' 'JOHN DEERE TRACTOR 5045 D'
 'TATA INDIGA' 'BAJAJ MAXIMA LOANDING' 'FORCE TRAVELLER'
 'MARUTI ERTIGA VXI' 'TVS King Auto BS6' 'MAHINDRA TARCTOR 265'
 'MARUTI SWIFT DZIRE VDI' 'MARUTI EECO 5 STR' 'PIAGGIO APE E CITY'
 'HYUNDAI CRETA VX' 'ESCORT FARMTRACT TRACTOR 50' 'MAHINDRA AUTO RIKSHWA'
 'TATA ALTROZ' 'MAHINDRA BOLERO NEO' 'TATA 1316 TRUCK' 'PASSION PRO'
 'MAHINDRA XYLO' 'HYUNDAI EON' 'MASSEY FERGUSON TARCTOR 1035' 'BAJAJ'
 'MARUTI ALTO k10' 'TATA LP' 'TATA' 'MAHINDRA BOLERO TOP MODEL'
 'BAJAJ RE COMPACT' 'HYUNDAI I 20 LIDE' 'TOYOTA FOTURNER' 'TOYOTA ETIOS'
 'TATA 3530' 'MAHINDRA ALFA E RISKSHAW' 'MAHINDRA BOLERO SLX 7 STR'
 'MARUTI S CROSS' 'HYUNDAI I 20' 'PIAGGIO APE LOANDING CABIN'
 'BAJAJ RE COMPECT' 'MAHINDRA ARJUN TARCTOR 555' 'HYUNDAI VERNA'
 'HAKIKAT AUTO RIKSHWA' 'CITY LIFE E RIKSHAW' 'MASSEY FERGUSON TARCTOR'
 'TOYOTA INNOVA CRYSTA VX' 'FARMTRAC TARCTOR' 'MARUTI BALENO DELTA'
 'MARUTI ERTIGA TOURIST' 'SONALIKA TARCTOR 50 HP' 'ZOHN DEERE'
 'BAJAJ MEGA' 'TATA 3118' 'TATA SIGNA' 'MARUTI SWIFT DIZ'
 'JHON DEERE 5305 TARCTOR' 'TOYOTA FORTURE' 'TATA TIAGO'
 'ASHOK LEYALAND DOST' 'TATA INDIGO' 'TATA STARBUS LP' 'MAHINDRA BUS 42'
 'ESCORTS POWERTRAC TARCTOR 50 EURO' 'MARUTI ECCO' 'MARUTI SWIFT TOUR'
 'MA' 'MAHINDRA BOLERO BS6' 'Maruti Alto 800 VXI'
 'BAJAJ MAXIMA SEASEL LOANDONG' 'TATA MAGIC SCHOOL BUS'
 'PIAGGIO APE XTRA DLX' 'MARUTI ERTIGA VDI' 'SONALIKA TARCTOR DI 35'
 'Mahindra Bolero Camper' 'Piaggio Ape' 'Maruti Swift Dzire'
 'Tata LPT 407' 'TATA YODHA' 'Bobcat Exavator Loader' 'TATA MAGIC EXPRESS'
 'FOCE TOOFAN TRAX' 'ASHOK LEYLAND 5525' 'MARUTI SX4' 'TATA ACE MEGA'
 'FORD FIGO ASPIRE' 'HONDA MOBILIO 7 STR' 'TATA 4825' 'BAJAJ MAXIMA C'
 'TATA 812 BUS 42 STR' 'RENAULT CLIMBER' 'TATA NEXON EV'
 'MAHINDRA XUV 500 W8' 'MAHINDRA SCORPIO CLASSIC' 'EICHER 1112 TRUCK'
 'HONDA MOBILIO 8' 'HIRA 551 COMBINE HARVASTER' 'Mahindra Tractor 575'
 'Mahindra Alfa CNG' 'Mahindra Alfa' 'Escort PowerTrac 45' 'TATA INTRA'
 'Honda Amaze' 'BAJAJ PLATINA' 'MAHINDRA AUTO RIKSWA' 'TATA TIGORE'
 'RENALUT KWID 10' 'VILASHL 435' 'Maruti Omni' 'Massey Ferguson 7250'
 'Mahindra Tractor 275' 'Hyundai Xcent' 'Mahindra Treo' 'Tata Sumo'
 'Maruti Eeco' 'Swaraj Tractor' 'Eicher 2095 6 Tyre'
 'Mahindra Bolero Pick Up' 'MARUTI EECO 7 SEATER' 'Bajaj Auto'
 'Hyundai Venue' 'Messay Ferguson 1035' 'Maruti Alto K10'
 'Mahindra Bolero Pick up 17' 'Maruti Wagon R' 'Tata 407'
 'Mahindra XUV 700' 'Maruti Swift' 'Tata Safari' 'Toyota Innova'
 'Mahindra XUV 300' 'SML' 'Mahindra Tractor 585' 'Mahinra Tractor 275'
 'Mahindra Scorpio S2' 'Mahindra Furio' 'Mahindra Thar' 'Maruti Ertiga'
 'Toyota Innova Crysta' 'Mahindra Scorpio' 'Mahindra Bolero'
 'Maruti Wagaon R' 'Atul Auto' 'Sonalika Tractor 745 DI'
 'Tata Truck 4825 16 Tyre' 'Rotavator' 'Maruti Wagon R Lxi'
 'Maruti S Presso' 'Mahindra Tractor 405 Yuvo' 'Renualt Kwid'
 'Yatri E Rikshaw' 'Maruti Alto K 10' 'Escort Powertract 425'
 'Eicher Tractor 548' 'John Deer' 'Mahindra Alfa Loader' 'Maruti Dzire'
 'Tata Indica' 'Maruti Alto' 'JCB 3dx' 'Maruti Ertiga Tour'
 'Mahindra Scorpio Clasic' 'Mahindra XUV' 'Mahindra Tractor' 'Forklift'
 'Mahindra Tractor 475' 'Hyundai Creta' 'Maruti Eeco 7 Seater'
 'Piaggio Ape e Extra' 'Maruti Alto 800' 'Bajaj Maxima' 'Maruti S Cross'
 'Swaraj Tractor 735' 'John Deer Tractor 545 D' 'Ma' 'Maruti Super Carry'
 'Tata Nexon' 'Maruti Swift VXI' 'Kamco kmb 200' 'Tata 4225' 'Tata'
 'Tata Tiago' 'Hyundai Verna' 'John deer Tractor 5210' '-'
 'Maruti S presso' 'All fine E Rikshaw' 'Tata Ace'
 'Mahindra Scorpio S 11 Classic' 'Sonalika Tractor 740'
 'Mahindra Scorpio N' 'Escort Powertrac' 'Ashok Leyland Dost'
 'Mahindra Bolero Pick Up 1.7' 'Force Traveller' 'Jhon deer 3208'
 'Tata Ace XL' 'Maruti Suzuki S Presso' 'Mahindra Bolero Maxitruck'
 'Maruti Fronx' 'Hyundai Accent' 'Mahindra Bolero Pick up'
 'Mahindra XUV 500' 'Tata Truck 2518' 'Maruti Swift dzire'
 'Mahindra Jeeto' 'Tata Tigor' 'Maruti Suzuki Fronx' 'Hyundai i10'
 'Tata Altroz' 'Mahindra Trio' 'Hyundai I 10' 'Tata Intra V 10'
 'KIA SONET 10 XLINE 7DCT PTL' 'FORD FIGO 14 DURATORQ ZXI'
 'MARUTI SUZUKI SWIFT DECA LIMITED EDITION VDI' 'TATA ALTROZ XE PLUS'
 'HYUNDAI AURA S 12 AMT PETROL' 'TATA MAGIC BS IV'
 'MAHINDRA BOLERO PICK UP 14 CBC PS INSULATED CONTAINER'
 'MAHINDRA TRACTOR YUVO 575 DCTR575DSLPSFRPTLT'
 'MAHINDRA FURIO 11 175FT CBC' 'EICHER TRACTOR 548 50 HP'
 'MARUTI SUPER CARRY PETROL' 'BAJAJ AUTO RICKSHAW RE'
 'MAHINDRA BOLERO CAMPER PS 2WD' 'ESCORTS FARMTRAC TRACTOR CHAMPION 42HP'
 'TATA LPT 4830 10X2' 'MARUTI EECO 5 SEATER' 'MARUTI ALTO 800 LXI'
 'Maruti Vitara Breeza' 'KIA Sonet' 'Yuvraj Tractor 215'
 'Eicher Skyline 32 Seater' 'Hyundai Grand i 10' 'Mahindra XVU E400'
 'Maruti Suzuki Ertiga Tour' 'Maruti Suzuki Wagon R' 'Volkswagen Polo'
 'Mahindra Tractor 575 DI' 'Maruti Ciaz' 'KIA Carens' 'Mahindra Xylo'
 'Jassy Combine Harvester' 'KIA Seltos' 'Mahindra Maxximo' 'Tata Punch'
 'Mahindra Treo E Rikshaw' 'Maruti Swift Dzire Tour S' 'Eicher Trator 368'
 'Maruti Dzire Tour S' 'Tata Puch' 'Tata Magic' 'Piaggio Auto'
 'Tata Winger' 'Escort Faramtrac' 'Jhondeer Tratcor 5050' 'Hyundai I 20'
 'Mahindra Marazzo' 'TVS King ZS CNG' 'Honda City' 'KIA Carnival'
 'Datson Go' 'Sonalika Tractor 50 DI' 'Messy Fergusen' 'Tata Ace Gold'
 'Escort Digitrac' 'Messy Fergusan' 'Komatsu Poclain'
 'Maruti Suziki Ignis' 'Mahindra Scorpio S10' 'Faram Trac'
 'Mahindra Bolero Pick Up 17' 'Honda Mobilo' 'Power Trac'
 'Mahindra Neo N10' 'Hyundai Grand i10' 'Mahindra Supro'
 'Mahindra Scorpio Classic S 11' 'Mahindra Bolero Neo'
 'Maruti Suzuki Eeco 7 Seater' 'Indofarm Tractor' 'Tata Magic Mantra'
 'Maruti Suzuki Swift Dzire Tour' 'Dutson Ready Go' 'Mahidra Alfa'
 'DG Set' 'Mahindra Marazzo BS4' 'Toyata etios GD' 'Maruti '
 'MARUTI WAGONR VXI' 'Maruti Baleno' 'Messy Fergusan 8055'
 'Mahindra Bolero Pickup 17' 'Hyundai Santro'
 'Maruti Suzuki Swift Dzire Vxi' 'MARUTI celerio ZXI'
 'Mahindra 605 Tractor' 'Mahindra Bolero Pickup' 'Mahindra Tractor 265'
 'Piaggio E Auto Rickshaw' 'Maruti Suzuki Swift' 'Renault Kiger'
 'Bajaj Loader' 'Massey Ferguson Tractor' 'Renault Triber'
 'Maruti Suzuki Ertiga' 'Maruti Suzuki Omni 7 Seater' 'Maruti Dzire Tour'
 'TATA TIGOR XM' 'Supro Mini Truck vx bs6.2 diesel'
 'Maruti Suzuki Swift Dzire CNG' 'Maruti Suzuki Alto Lxi'
 'Maruti Suzuki Swift Vxi' 'Maruti Suzuki Eeco 5 Seater'
 'Atul Shakti Loader' 'Hyundai i20' 'Escort Farmtrac Tractor'
 'Mahindra Tractor 415' 'Sonalika Tractor' 'Mahindra Supro Vx'
 'Maruti Suzuki Alto' 'KUBOTA TRACTOR' 'Mahindra Blazo 14 Tractor'
 'Maruti Suzuki Omini 8 Seater' 'Maruti Suzuki Alto K10' 'MAHINDRA Bolero'
 'TATA 405' 'Mahindra Bolero Pik Up' 'MAHINDRA 595 TRACTOR'
 'Bharat Benz 16 Tyer' 'Bajaj Auto Rickshaw' 'TATA TIGORE EV'
 'Renault Kwid' 'Hyundai Eon' 'maruti Suzuki Swift Dzire'
 'Maruti suzuki Ertiga' 'MAHINDRA ALPHA PLUS CNG' 'Maruti Suzuki Dizer'
 'Maruti Suzuki S Cross' 'Raftar E Auto' 'New Holland Tractor'
 'Piaggio Auto Rickshaw' 'Eicher 3018' 'Maruti Suzuki Alto 800'
 'Tata Yodha' 'Escort Powertrac Tractor' 'Maruti Suzuki Baleno'
 'Maruti Suzuki Ertiga Zxi' 'Maruti Suzuki Maxx Pickup'
 'Mahindra E Alfa Passenger' 'M G Hector' 'Mahindra Trio Yaari'
 'Tata 3618' 'Maruti Suzuki Grand Vitara' 'Hyundai Aura'
 'Mahindra Bolero pickup' 'Maruti Suzuki Celerio'
 'John Deere 5075 Tractor' 'Maruti Suzuki Brezza' 'Mahindra TUV 300'
 'Mahindra Surpo Maxitruck' 'Maruti Suzuki Vitara Brezza' 'Tata Ace Mega'
 'Tata 4018' 'Kia Sonet' 'Nova E Auto Rickshaw' 'Tata 4025'
 'Maruti Suzuki Ertiga New' 'JSA E Auto Rickshaw' 'Renult Triber'
 'Maruti Suzuki Ertiga Tour M' 'Renault Duster' 'Mahindra Bolero 9 Seater'
 'Mahindra Tractor 755 Novo' 'Bajaj Maxima Auto Rickshaw' 'Eicher Canter'
 'Maruti s presso' 'Maruti Suzuki Eeco 8 Seater' 'Force Tempo Traveller'
 'Tata Intra v20' 'Tata Ultra' 'Mahindra Bolero Pick Up17'
 'Swaraj Tractor 733' 'Mahindra KUV 100' 'Mayuri E Auto Rickshaw'
 'Tata Hywa 5530' 'Mahindra Scorpio S3' 'Mahindra Bolero Pick Up1.7'
 'Hyundai Grand i10 Nios' 'Mahindra Alfa Passenger'
 'Mahindra Tractor Jivo 245' 'Maruti Suzuki Swift Vdi'
 'Bajaj Auto Rickshaw Diesel' 'Force Temp Traveller' 'Nirmal Poclain'
 'Panther E Auto Rickshaw' 'VST Shakti Tractor' 'Shubhnam E Auto Rickshaw'
 'Maruti Suzuki Wagon R Vxi' 'Ashok Leyland Dumper 1215'
 'Mahindra Tractor Arjun' 'Mahindra Scorpio S11 Classic'
 'Atul Shakti Loading' 'Maruti Suzuki Eeco 5 Seater CNG AC'
 'Maruti Suzuki Alto k10' 'Tata Signa 5530 Trailer'
 'Maruti Suzuki Swift Dzire ZDI' 'Tata Magic Ambulance'
 'Maruti Suzuki Eeco' 'Force Tractor' 'Maruti Suzuki XL6'
 'Hyundai Grand i10 Neos' 'Mahindra Bolero B4' 'Piaggio Ape Auto Rickshaw'
 'Mahindra Scorpio S11' 'Tata Tiago CNG']

In [32]:
print(y['Status'].unique)

<bound method Series.unique of 0         Open Lead
1         Open Lead
2         Open Lead
3         Open Lead
4         Open Lead
           ...
3084      Cancelled
3085      Follow Up
3086    No Response
3087    No Response
3088      Cancelled
Name: Status, Length: 3089, dtype: object>

In [33]:
y['Vehicle'].nunique()

604

In [35]:
y['Executive Name'].nunique()

393

In [36]:
y['Executive SAP'].nunique()

393

In [37]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\4000067667\appdata\local\anaconda3\lib\site-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\4000067667\appdata\local\anaconda3\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\4000067667\appdata\local\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\4000067667\appdata\local\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\4000067667\appdata\local\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\4000067667\appdata\local\anaconda3\lib\site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\4000067667\appdata\local\anaconda3\lib\site-packages (from matplotlib) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\4000067667\appdata\local\anaconda3\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\4000067667\appdata\local\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\4000067667\appdata\local\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\4000067667\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

AttributeError: module 'matplotlib' has no attribute '__version_'